@charset "UTF-8";

:root {
  --cor0: rgb(22, 20, 20);
  --cor1: #353c3d;
  --cor2: #3c3c3c;
  --cor3: rgb(41, 39, 39);
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: var(--fonte-padrao);
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}

.logo-nome {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-nome h1 {
  font-size: 24px;
  margin: 0;
}

.topo-ouvir {
  display: flex;
  background-color: var(--cor2);
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-right: 230px;
  border-radius: 20px; /* Bordas arredondadas */
  color: white; /* Cor do texto, se o fundo for escuro */
  gap: 8px;
  font-size: 12px;
}

.topo-ouvir h4 {
  color: rgb(223, 218, 215);
  font-size: 13px;
}

.icone-lupa {
  padding-left: 10px;
  width: 16px; /* tamanho pequeno da lupa */
  height: 16px;
  object-fit: contain;
}

nav {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  justify-content: space-between; /* Espaça os elementos horizontalmente */
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

nav img.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

nav h1,
nav h4 {
  margin: 0 10px;
}

nav button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button.inscrever {
  background-color: black;
  color: white;
  font-weight: bold;
}

.botoes {
  display: flex;
  gap: 10px; /* espaço entre os botões */
}

.botoes button {
  padding: 10px 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.botoes.entrar {
  background-color: white;
  font-weight: bold;
}

aside {
  background-color: var(--cor0);
  width: 30%;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.container {
  display: flex;
  height: 100vh; /* altura total da tela, opcional */
  gap: 6px;
}

aside h3 {
  padding: 0;
  margin: 0;
  color: rgb(240, 238, 237);
}

.titulo-biblioteca {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa o + pro final */
  gap: 8px;
  padding: 6px 0 20px 0px; /* top, right, bottom, left */
}

.titulo-biblioteca h3 {
  flex: 1;
  margin: 0;
}

.botao-mais {
  font-size: 40px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 50%;
  color: white;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-biblioteca {
  width: 50px; /* Tamanho pequeno */
  height: 50px; /* Força a altura igual ao width */
  object-fit: contain; /* Mantém proporção da imagem */
}

.playlist button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.criar-playlist {
  background-color: white;
  font-weight: bold;
}

.fundo-playlist {
  background-color: var(--cor3);
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 30px;
  width: 92%;
}

.fundo-playlist h4 {
  padding-top: 10px;
  padding-bottom: 8px;
}

.fundo-playlist p {
  font-size: 13px;
  padding-bottom: 20px;
}

.fundo-podcast {
  background-color: var(--cor3);
  margin-top: 15px;
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 30px;
  width: 92%;
}

.fundo-podcast h4 {
  padding-top: 10px;
  padding-bottom: 8px;
}

.fundo-podcast p {
  font-size: 13px;
  padding-bottom: 20px;
}

.podcast button {
  padding: 8px 17px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.criar-podcast {
  background-color: white;
  font-weight: bold;
}

.artistas {
  background-color: var(--cor3);
  border-radius: 20px; /* Bordas arredondadas */ /* Largura fixa opcional */
  width: 70%;
  color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}

.artistas-mostrar {
  display: flex;
  justify-content: space-between; /* joga um pra cada lado */
  align-items: center; /* alinha verticalmente */
  padding: 0 10px; /* opcional: espaçamento interno nas laterais */
}

.artistas-mostrar h5 {
  padding-bottom: 30px;
  margin-top: 0;
}

.artistas-mostrar h3 {
  padding-bottom: 18px;
  font-size: 23px;
}

.aespa {
  width: 166px;
  height: 210px;
  border-radius: 10px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.aespa h3 {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 7px;
}

.aespa p {
  color: rgb(165, 159, 159);
  font-size: 15px;
  padding-left: 7px;
}

.aespa-inicial {
  width: 150px; /* ou o tamanho que quiser */
  height: 150px;
  padding-left: 7px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover;
  transition: transform 0.3s ease;
  transform-origin: center center; /* preenche sem distorcer */
}

.aespa:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tommy {
  width: 166px;
  height: 210px; /* altura fixa pra não variar */
  background-color: var(--cor3);
  border-radius: 7px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.tommy:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tommy h3 {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 7px;
}

.tommy p {
  color: rgb(165, 159, 159);
  font-size: 15px;
  padding-left: 7px;
}

.tommy-inicial {
  width: 150px; /* ou o tamanho que quiser */
  height: 150px;
  padding-left: 7px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.pastel-ghost {
  width: 166px;
  height: 210px; /* altura fixa pra não variar */
  border-radius: 7px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.pastel-ghost h3 {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 7px;
}

.pastel-ghost p {
  color: rgb(165, 159, 159);
  font-size: 15px;
  padding-left: 7px;
}

.pastel-inicial {
  width: 150px; /* ou o tamanho que quiser */
  height: 150px;
  padding-left: 7px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pastel-ghost:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.j-eskine {
  width: 166px;
  height: 210px; /* altura fixa pra não variar */
  border-radius: 7px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.j-eskine h3 {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 7px;
}

.j-eskine p {
  color: rgb(165, 159, 159);
  font-size: 15px;
  padding-left: 7px;
}

.jeskine-inicial {
  width: 150px; /* ou o tamanho que quiser */
  height: 150px;
  padding-left: 7px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.j-eskine:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tate-mcrae {
  width: 166px;
  height: 210px; /* altura fixa pra não variar */
  border-radius: 7px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.tate-mcrae h3 {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 7px;
}

.tate-mcrae p {
  color: rgb(165, 159, 159);
  font-size: 15px;
  padding-left: 7px;
}

.tate-inicial {
  width: 152px; /* ou o tamanho que quiser */
  height: 152px;
  padding-left: 7px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.tate-mcrae:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.artistas-icon {
  display: flex;
  justify-content: space-between; /* ou space-around/space-evenly */
  gap: 11px; /* espaço entre as caixinhas */
  flex-wrap: wrap; /* permite quebrar em telas menores */
}

.singles {
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 20px;
}

.singles-albuns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* permite que quebre pra próxima linha se não couber */
  gap: 10px;
  margin-top: 0;
}

.singles-albuns > div {
  width: 166px;
  height: 220px;
  background-color: var(--cor3);
  border-radius: 10px;
  transition: background-color 0.8s ease, box-shadow 0.8s ease, transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.singles-albuns > div:hover {
  background: linear-gradient(to bottom, var(--cor3), var(--cor2));
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.capa-album {
  width: 145px;
  height: 145px;
  border-radius: 2px; /* levemente arredondado, mas quadrado */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.capa-album-ruby {
  width: 155px;
  height: 155px;
  border-radius: 2px; /* levemente arredondado, mas quadrado */
  object-fit: cover;
  transition: transform 0.3s ease;
  padding-right: 5px;
}

.capa-album-lost{
  width: 149px;
  height: 149px;
  border-radius: 2px; /* levemente arredondado, mas quadrado */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.capa-album-taste{
  width: 145px;
  height: 145px;
  border-radius: 2px; /* levemente arredondado, mas quadrado */
  object-fit: cover;
  transition: transform 0.3s ease;
  padding-left: 3px;
}

.singles-albuns h3 {
  margin-top: 3px;
  margin-bottom: 0px;
  color: white;
}

.singles-albuns p {
  font-size: 14px;
  color: rgb(165, 159, 159);
}

.info-musica {
  font-size: 14px;
  color: rgb(165, 159, 159);
}

.album-icon {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.nota-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .artistas-icon,
  .singles-albuns {
    justify-content: center;
  }

  .singles-albuns > div {
    width: 45%; /* 2 por linha */
  }
}

@media (max-width: 480px) {
  .singles-albuns,.artistas-icon > div {
    width: 100%; /* 1 por linha no celular pequeno */
  }
}

